
#star-logo {
    position:absolute;
    top:0;
    left:40%;
    animation: flyInAndUp 4s forwards;
}

#banner-text {
    position:absolute;
    top:3%;
    left:49%;
    opacity:0;
    bottom:50%;
    animation: flyInAndUp 4s forwards;
}

@keyframes flyInAndUp {
    0% { transform: translateX(-1000px) translateY(200px); }
    75% { transform: translateX(0) translateY(200px); }
    100% { transform: translateX(0) translateY(0); }
  }
